// Reusable variables

$colorGreen: #C0FFB3;
$colorPeach: #FFBD00;
$colorYellow: #FFFD07;
$colorMaleHighLight: #ADD6FB;
$colorFemaleHighLight: #F8A5D6;
$colorAmbiguousGender: #F8C6AA;
$minWidthDesktop: 1367px;

body {
  overflow-x: hidden;
}

span {
  outline: none;
}

// Bootstrap overrides

.form-control {
  color: #000;
}

.form-group {
  margin-bottom: 0;
}

// General styles

p {
  display: inline;
}

// Layout

div#layout-top {
//div#layout-bottom {
  //float: left;
}

// Display, Edit

#window-display,
#window-edit {
  height: 185px; // 195
  overflow: auto;
}

.file-name {
  height: 36px;
}

// File upload

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-narek-file {
  color: #fff;
  background-color: #3b274e;
  border-color: #3b274e;
}

.btn-narek-file:hover {
  color: #fff;
  text-decoration: none;
}

// Answer

#btns-undo-redo {
  display: inline;
}

// Oreo, Kitkat

#window-oreo-wrap,
#window-kitkat-wrap {
  position: relative;
}

#window-oreo,
#window-kitkat,
#window-display,
#window-edit {
  font-size: 12px;
  font-family: Courier;
  color: #000000;
}

#window-oreo,
#window-oreo-overlay,
#window-kitkat {
  height: 425px; // 450
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#window-oreo-overlay {
  display: none;
  position: absolute;
  top: 0;
}

#btn-oreo-sentences,
#btn-kitkat-sentences {
  display: none;
}

#input-file {
  display: inline-block;
  width: 400px;
  overflow-y: hidden;
}

#btn-oreo-prev-file,
#btn-oreo-next-file,
#input-folder {
  display: inline-block;
}

// Sentence

.sentence-highlighted {
  background-color: $colorPeach;
}

.duplicate, .difference {
  background-color: $colorYellow;
}

.sentence-hover {
  background-color: $colorGreen;
}

.ui-state-error {
  display: inline-block;
  width: 100px;
  height: 14px;
}

// Male and female highlight.
.genderMale {
  background-color: $colorMaleHighLight;
}

.genderFemale {
  background-color: $colorFemaleHighLight;
}

.genderAmbiguous {
  background-color: $colorAmbiguousGender;
}

// Skeleton

.correct-answer, .selected-answer, .choice, .skeleton {
  display: block;
}

.correct-answer.inline, .choice.inline, .skeleton.inline {
  display: inline;
}

.answers-edit {
  width: 100%;
  background-color: $colorGreen;
  display: inline-block;
  min-height: 20px;
}

.skeleton-edit {
  width: 100%;
  background-color: $colorGreen;
  display: inline-block;
  min-height: 20px;
}

// Select answer
#checkbox-answer-is-incorrect-wrap:hover {
  cursor: pointer;
}

// radio button active
.btn-default.active, .btn-default.active:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

// Autoswap

#window-autoswap,
#window-vitals {
  height: 425px;
  overflow: auto;
  padding: 0;
}

#window-autoswap-wrap h4 {
  margin-bottom: 7px;
}

span.autoswap-formatted {
  background-color: #fc8089
}

span.loaded-file-name {
  font-size: 12px;
}

a.list-group-item:focus, button.list-group-item:focus {
  border: 1px black solid !important;
  margin-bottom: 0;
}

// Vitals

#window-vitals .input-group-addon {
  min-width: 80px;
}

#window-vitals input[type="text"] {
  text-align: center;
}

.answers, .selected-answer {
  display: inline-block;
  width: 100%;
}

// Taller text areas on desktop

@media all and (min-width: $minWidthDesktop) {
  #window-oreo,
  #window-oreo-overlay,
  #window-kitkat,
  #window-autoswap,
  #window-vitals {
    height: 715px;
  }
  #window-display,
  #window-edit {
    height: 315px;
  }
}

// Admin

span.admin-separator {
  color: red;
  font-weight: bold;
}

span.admin-array-item {
  border: #F00 2px solid;
  border-radius: 14px;
  padding: 5px;
  margin-right: 5px;
}
