<template name="answer">
  <h4>Answer</h4>
  <div id="checkbox-answer-is-incorrect-wrap">
    <input type="checkbox" id="checkbox-answer-is-incorrect" checked={{answerIsIncorrect}}>Is incorrect
  </div>
  <div id="answer-radio-buttons-group" class="btn-group" data-toggle="buttons">
    <label class="btn btn-default btn-sm active">
      <input type="radio" name="answer-radios" id="answer-radio-a" value="A" checked="true">A
    </label>
    <label class="btn btn-default btn-sm">
      <input type="radio" name="answer-radios" id="answer-radio-b" value="B">B
    </label>
    <label class="btn btn-default btn-sm">
      <input type="radio" name="answer-radios" id="answer-radio-c" value="C">C
    </label>
    <label class="btn btn-default btn-sm">
      <input type="radio" name="answer-radios" id="answer-radio-d" value="D">D
    </label>
    <label class="btn btn-default btn-sm">
      <input type="radio" name="answer-radios" id="answer-radio-e" value="E">E
    </label>
    <label class="btn btn-default btn-sm">
      <input type="radio" name="answer-radios" id="answer-radio-f" value="F">F
    </label>
    <label class="btn btn-default btn-sm">
      <input type="radio" name="answer-radios" id="answer-radio-g" value="G">G
    </label>
    <label class="btn btn-default btn-sm">
      <input type="radio" name="answer-radios" id="answer-radio-h" value="H">H
    </label>
    <label class="btn btn-default btn-sm">
      <input type="radio" name="answer-radios" id="answer-radio-i" value="I">I
    </label>
  </div>
  <button type="button" class="btn btn-primary btn-xs" id="btn-select-answer">Select</button>
  <button type="button" class="btn btn-primary btn-xs pull-right" id="btn-skeleton">Skeleton</button>
  <br>
  <button type="button" class="btn {{#if duplicateCheck}} btn-success {{else}} btn-primary {{/if}} btn-xs" id="btn-duplicate-check">DUPLICATE CHECK</button>
  <button type="button" class="btn {{#if differenceCheck}} btn-success {{else}} btn-primary {{/if}} btn-xs" id="btn-difference-check">DIFFERENCE CHECK</button>

</template>
