<template name="autoswap">
  <div id="window-autoswap-wrap">
    <h4>AutoSwap <span class="loaded-file-name">{{loadedFileName}}</span></h4>
    <p>Generated {{ sentenceCount }} sentences in {{ generationTime }} seconds.</p>
    <div id="window-autoswap" class="form-control">
      {{#if hasGeneratedNewSentences}}
        <div class="list-group">
          {{#each autoSwapSentences}}
            <button type="button" class="list-group-item">
              <span class="badge">{{swaps}}</span>
              <span class="autoswap-sentence">{{{formatted}}}</span>
            </button>
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-danger" role="alert">Nothing to swap!</div>
      {{/if}}
    </div>
  </div>
</template>
