<template name="display">
  <h4>Display</h4>
  <div id="window-display" class="form-control" contenteditable="false">
    {{#if displayAutoswap}}
      {{{ formattedSentenceContent }}}
    {{else}}
      {{{ originalSentenceContent }}}
    {{/if}}
  </div>
</template>
