<template name="edit">
  <h4>Edit
    <button type="button" class="btn {{#if displayVitals}} btn-success {{else}} btn-primary {{/if}} btn-xs pull-right" id="btn-edit-vitals">Vitals</button>
    <button type="button" class="btn btn-primary btn-xs pull-right" id="btn-edit-andswap">And-Swap</button>
    <button type="button" class="btn btn-primary btn-xs pull-right" id="btn-edit-commaswap">Comma-Swap</button>
    <button type="button" class="btn btn-primary btn-xs pull-right" id="btn-edit-original">Original</button>
  </h4>
  <div id="window-edit" class="form-control" contenteditable="true">{{{selectedSentenceContent}}}</div>
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-xs" id="btn-edit-change">Change</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-edit-prev">Prev</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-edit-next">Next</button>
    <div class="pull-right" id="btns-undo-redo">
      <button type="button" class="btn btn-primary btn-xs" id="btn-edit-undo">Undo</button>
      <button type="button" class="btn btn-primary btn-xs" id="btn-edit-redo">Redo</button>
    </div>
  </div>
</template>
