<template name="honda">
  {{> hondaWindows}}
</template>

<template name="hondaWindows">
  <div id="window-honda" class="row">
    <div class="col-sm-3">
      <div class="col-sm-3">
        <a href="{{pathFor 'main'}}" class="btn btn-info">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="col-sm-9">
        <div id="dropzone">
          DROPZONE
        </div>
      </div>
      {{> windowBuildFile}}
      <div>
        <label>
          <input id="checkbox-build-mode" type="checkbox" {{buildModeChecked}}>
          <span class="toggle"></span>
          Click/Drag Mode
        </label>
        <!--<label>
          <input id="checkbox-cut-copy-mode" type="checkbox" {{cutCopyModeChecked}}>
          <span class="toggle"></span>
          Cut Mode On
        </label>-->
      </div>
      <button type="button" class="btn btn-success btn-xs" id="btn-honda-save-build-file">Save</button>
      {{#if filesLoaded}}
        <button type="button" class="btn btn-success btn-xs" id="btn-honda-save-bulk">Bulk Save</button>
      {{/if}}
      <button type="button" class="btn btn-primary btn-xs" id="btn-honda-undo">Undo</button>
      <button type="button" class="btn btn-primary btn-xs" id="btn-honda-redo">Redo</button>
      <button type="button" class="btn btn-primary btn-xs" id="btn-honda-clear-breaks">Clear breaks</button>
      <button type="button" class="btn btn-primary btn-xs" id="btn-honda-break-sentences">Break sentences</button>
      <button type="button" class="btn btn-primary btn-xs" id="btn-honda-collapse-sentences">Collapse sentences</button>
      <button type="button" class="btn btn-primary btn-xs" id="btn-honda-remove-extra-spaces">Remove extra spaces</button>
      <button type="button" class="btn btn-primary btn-xs" id="btn-honda-clean-answer-choices">Clean Choices</button>
    </div>

    <div id="window-honda-source-wrap">
      {{#if filesLoaded}}
        {{> windowHondaSource}}
      {{/if}}
    </div>
  </div>
</template>

<template name="windowBuildFile">
  <div id="window-honda-build" class="well well-sm">
    {{#each buildFileSentences}}
      <div class="sentence ui-sortable-handle"><div>{{text}}</div><br></div>
    {{/each}}
  </div>
</template>

<template name="windowHondaSource">
  <div id="loaded-files">
    {{#each loadedFiles}}
      <div id="{{windowId}}" class="window-honda-source">
        <div class="source-header">
        {{#if editingName}}
        <div class="file-name-edit">
          <input class="input-file-name" value="{{name}}"/><button id="save-file-name" class="btn btn-success btn-xs">Save</button>
        </div>
        {{else}}
          <span class="icon sortable-handle glyphicon glyphicon-menu-hamburger pull-left"></span>
          <span class="name sortable-handle"><span class="badge">{{order}}</span> - {{name}}</span>
          <div class="togglebutton">
            <label>
              <input id="checkbox-auto-break" type="checkbox" {{autoBreakChecked}}>
              <span class="toggle"></span>
            </label>
          </div>
          <span class="icon close glyphicon glyphicon-remove pull-right"></span>
        {{/if}}
        </div>
        {{#if autoBreakDisabled}}
          {{> windowHondaSourcePlainSentences}}
        {{else}}
          {{> windowHondaSourceSentences}}
        {{/if}}
        <button class="btn btn-success btn-xs btn-honda-autoswap">A</button>
        <button class="btn btn-success btn-xs btn-honda-scramble">Scramble</button>
        <button class="btn btn-success btn-xs btn-honda-gender-swap">GS</button>
        <button class="btn btn-success btn-xs btn-honda-save-source-file pull-right">Save</button>
      </div>
    {{/each}}
  </div>
</template>

<template name="windowHondaSourceSentences">
  {{#if autoBreakChecked}}
    {{> windowHondaSourceBrokenSentences}}
  {{else}}
    {{> windowHondaSourcePlainSentences}}
  {{/if}}
</template>

<template name="windowHondaSourceBrokenSentences">
  <div class="well well-sm source-content" contenteditable="{{isEditable}}">{{{brokenSentences}}}</div>
</template>

<template name="windowHondaSourcePlainSentences">
  <div class="well well-sm source-content" contenteditable="{{buildMode}}">{{{helperPlainSentences plainSentences}}}</div>
</template>
