$colorGreen: #C0FFB3;
$colorWhite: #FFFFFF;
$colorLightGrey: #F5F5F5;

html, body {
  height: 100%;
}

#layout-top {
  padding-left: 15px;
  padding-right: 15px;
}

#window-honda {
  height: 100%;
  background-color: $colorLightGrey;
}

// Bootstrap overrides
.well {
  background-color: $colorWhite !important;
}

.list-group .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px !important;
  margin-bottom: -1px;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}

.temporary-drag-element {
  color: red;
}

.sentence:hover {
  background-color: $colorGreen;
}

.empty-line {
  width: 100%;
}

.empty-line.inline-block {
  display: inline-block;
}

#btn-honda-back {
  padding-left: .5em;
  padding-right: .5em;
}

#dropzone {
  background-color: #4caf50;
  color: rgba(255,255,255,.84);
  line-height: 2.6em;
  text-align: center;
  margin-bottom: 10px;
}

.source-header {
  height: 3em;
  line-height: 3em;
  text-align: center;
  margin: 0 0 1em 0;
}

.source-header > .icon {
  height: 4em;
  width: 2em;
  line-height: 4em;
}

.source-header, .source-header > div {
  display: inline-block;
}

.source-header > i {
  margin-top: .375em;
}

.source-header .name {
  max-width: 275px;
  float: left;
  overflow: hidden;
}

.source-header .file-name-edit {
  width: 100%;
}

.source-header .file-name-edit > input {
  width: 80%;
}

.source-header > i.pull-right {
  margin-right: 0;
}

#window-honda {
  padding: .5em;
  display: -webkit-box;
}

#window-honda-build {
  border: 1px solid #ccc;
  height: 435px;
  overflow: auto;
  word-wrap: break-word;
}

#window-honda-build-wrap {
  width: 25%;
}

#window-honda-source-wrap {
  width: 75%;
  overflow: auto;
  white-space: nowrap;
}

.window-honda-source {
  width: 400px;
  display: inline-block;
}

.window-honda-source > button {
  margin: 0;
}

.source-header,
.source-content {
  width: 100%;
}

.source-content {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#window-honda-build,
.window-honda-source > .source-content {
  font-size: 12px;
  font-family: Courier;
  color: #000000;
}

.window-honda-source > .source-content {
  height: 435px;
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.window-honda-source > .source-content > .item {
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: pre-line;
  cursor: pointer;
}

@media all and (min-width: 1367px) {
  #window-honda-build,
  .window-honda-source > .source-content {
    height: 715px;
  }
}
