<template name="kitkat">
  <h4 class="file-name">KITKAT {{{loadedFileName2}}}</h4>
  <div id="window-kitkat-wrap">
    {{> windowKitkat}}
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-save">Save</button>
    <button type="button" class="btn {{#if sentenceMode}} btn-success {{else}} btn-primary {{/if}} btn-xs" id="btn-sentence-mode">SENTENCE MODE</button>
    <button type="button" class="btn {{#if dragAndDropActive}} btn-success {{else}} btn-primary {{/if}} btn-xs" id="btn-oreo-drag-and-drop">Drag & Drop</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-delete-answers">Delete answers</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-delete-skeleton">Delete skeleton</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-sentences">Sentences</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-clean-answer-choices">Clean Choices</button>
    <button type="button" class="btn {{#if displayAutoSwap}} btn-success {{else}} btn-primary {{/if}} btn-xs" id="btn-kitkat-autoswap">AutoSwap</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-selection-autoswap">Selection AutoSwap</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-bulk-autoswap">Bulk AutoSwap</button>
    {{#if loadedFolder}}<button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-bulk-fileswap">Bulk File Swap</button>{{/if}}
    <button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-remove-extra-spaces">Remove extra spaces</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-kitkat-scramble-answers">Scramble answers</button>
    <a href="{{pathFor 'admin'}}">
      <button type="button" class="btn btn-info btn-xs" id="btn-kitkat-admin">Admin</button>
    </a>
    <a href="{{pathFor 'honda'}}">
      <button type="button" class="btn btn-info btn-xs" id="btn-kitkat-honda">Honda</button>
    </a>
    Gender:
    <div id="gender-radio-buttons-group" class="btn-group" data-toggle="buttons">
      <label class="btn btn-default btn-sm">
        <input type="radio" name="gender-radios" id="gender-radio-male" value="male">Male
      </label>
      <label class="btn btn-default btn-sm">
        <input type="radio" name="gender-radios" id="gender-radio-female" value="female">Female
      </label>
    </div>
  </div>
</template>

<template name="windowKitkat">
  {{#if fullRescan}}
    {{{textDisplayKitkat}}}
  {{else}}
    <div id="window-kitkat" data-name="textKitkat" class="form-control" contenteditable="true">{{{textDisplayKitkat}}}</div>
  {{/if}}
</template>
