<template name="main">
  <div class="col-xs-4">
    {{> display}}
    {{> edit}}
    {{> answer}}
  </div>
  <div class="col-xs-4">
    {{> oreo}}
  </div>
  <div class="col-xs-4">
    {{> kitkat}}
  </div>
</template>
