<template name="oreo">
  {{#if displayAutoSwap}}
    {{> autoswap}}
  {{else}}
    {{#if displayVitals}}
      {{> vitals}}
    {{else}}
      <h4 class="file-name">OREO {{{loadedFileName}}}
        <button disabled="{{oreoLocked}}" type="button" class="btn btn-primary btn-xs pull-right" id="btn-oreo-lock">
        {{#if oreoLocked}}
          Locked
        {{else}}
          Lock
        {{/if}}
        </button>
      </h4>
      <div id="window-oreo-wrap">
        {{> windowOreo}}
      </div>
    {{/if}}
  {{/if}}
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-xs" id="btn-oreo-save">Save</button>
    <button type="button" class="btn {{#if displayOriginal}} btn-success {{else}} btn-primary {{/if}} btn-xs" id="btn-oreo-display-original">Display original</button>
    <!-- TODO: wtf button Sentences? -->
    <button type="button" class="btn btn-primary btn-xs" id="btn-oreo-sentences">Sentences</button>

    <button type="button" class="btn btn-primary btn-xs" id="btn-oreo-clear-breaks">Clear breaks</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-oreo-break-sentences">Break sentences</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-oreo-collapse-sentences">Collapse sentences</button>
    <button type="button" class="btn {{#if genderHightlighted}} btn-success {{else}} btn-primary {{/if}} btn-xs" id="btn-oreo-gender-highlight">GENDER HL</button>
    <button type="button" class="btn btn-primary btn-xs" id="btn-oreo-gender-swap">GENDER SWAP</button>
    <button type="button" class="btn btn-danger btn-xs" id="btn-oreo-rescan">Rescan</button>
    {{#unless displayAutoSwap}}
      {{#unless displayVitals}}
        <div class="fileUpload btn btn-narek-file btn-xs">
          <span>Choose file</span>
          <input type="file" id="input-file" class="upload">
        </div>
      {{/unless}}
    {{/unless}}
    <button type="button" class="btn btn-primary btn-xs" id="btn-prev-file">Prev</button>
    <div class="fileUpload btn btn-narek-file btn-xs">
      <span>Choose files</span>
      <input type="file" webkitdirectory="" directory="" multiple="" id="input-folder" class="upload">
    </div>
    <button type="button" class="btn btn-primary btn-xs" id="btn-next-file">Next</button>
  </div>
</template>

<template name="windowOreo">
  {{#if displayOriginal}}
    <div id="window-oreo" class="form-control">{{{textDisplayOreo}}}</div>
  {{else}}
    {{#if fullRescan}}
      {{{textDisplayOreo}}}
    {{else}}
      <div id="window-oreo" data-name="textOreo" class="form-control" contenteditable="true">{{{textDisplayOreo}}}</div>
    {{/if}}

    <div id="window-oreo-overlay" class="form-control"></div>
  {{/if}}
</template>
