<template name="vitals">
  <div id="window-vitals-wrap">
    <h4>Vitals {{{loadedFileName}}}</h4>
    <div id="window-vitals">
      <div class="input-group">
        <span class="input-group-addon">P:</span>
        <input type="text" class="form-control" id="vitals-input-p">
        <span class="input-group-addon">/ min</span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">BP:</span>
        <input type="text" class="form-control" id="vitals-input-bp">
        <span class="input-group-addon">mmHg</span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">RR:</span>
        <input type="text" class="form-control" id="vitals-input-rr">
        <span class="input-group-addon">/ min</span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">T:</span>
        <input type="text" class="form-control" id="vitals-input-tc">
        <span class="input-group-addon">°C</span>
        <input type="text" class="form-control" id="vitals-input-tf">
        <span class="input-group-addon">°F</span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">O2 SAT:</span>
        <input type="text" class="form-control" id="vitals-input-o2">
        <span class="input-group-addon">%</span>
      </div>
      {{#if hasGeneratedVitals}}
        <div class="list-group">
          {{#each vitalsSentences}}
            <button type="button" class="list-group-item">
              <span class="vitals-sentence">{{txt}}</span>
            </button>
          {{/each}}
        </div>
      {{else}}
        <div class="alert alert-danger" role="alert">No data entered!</div>
      {{/if}}
    </div>
  </div>
</template>
