<template name="layoutNarek">
  {{> yield "login"}}
  {{#if showMain}}
    <div id="layout-top" class="row">
      {{> main}}
    </div>
  {{/if}}
  {{#if showHonda}}
    <div id="layout-bottom">
      {{> honda}}
    </div>
  {{/if}}
</template>
